

			<div class="row justify-content-md-center">
					      <div class="accordion" id="accordionExample">
					      <div class="card">
					      <div class="card-header" id="headingTwo">
					        <h2 class="mb-0">
					        <button class="btn btn-success collapsed " aria-expanded="false" aria-controls="collapseTwo" style="font-size: 0.8em;" type="button" data-target="#collapsefiltro" data-toggle="collapse">
					          Mas filtros
					        </button>'
					        </h2>
					      </div>
					       <div class="collapse" id="collapsefiltro" aria-labelledby="headingTwo" data-parent="#accordionExample">
					        <div class="card-body">
					            <div class="form-check form-check-inline">
					            <div class="form-check form-check-inline">

			
			<input class="form-check-input" id="'+categoria[i].ID+'" type="checkbox" value="1">'+
              			<label class="form-check-label mr-1" for="'+categoria[i].ID+'">'+categoria[i].categoria+'</label>
			

			</div><button class="btn btn-success" id="filtro" style="width: 100px;" type="button">Filtrar</button></div></div></div></div>