<div class="row">
	<div id="fichas_producto">
		<div class="col-lg-4 col-md-6 mb-4">
			<div class="card h-100">
				<a href="#">
					<img class="card-img-top" alt="" src="'+imag+'">
				</a>
				<div class="card-body">
					<h4>'+productos[i].Nombre+'</h4>
					<h2>'+productos[i].Precio+'€</h2><p class="card-text">'+productos[i].Descripcion+'</p>
				</div>
				<button class="btn btn-success" type="button" data-target="#ficha" data-toggle="modal"><a href="/ficha/'+current+'/'+productos[i].ID+'">Ver mas</a></button>
			</div>
		</div>
	</div>


	<div class="mx-auto">
		<nav>
			<ul class="pagination">

</div>
