<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shop-homepage.css">

    <!-- ICONOS -->
   <script src="https://kit.fontawesome.com/5c5764d633.js" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function(){

        //mandaAjax('POST','/1','','listadeproductos');

      });
          
    </script>

    <title>INLOOK</title>
  </head>


  <body onload="cambiar()">
    <nav class="navegacion">
      <nav class="navbar navbar-expand-lg navbar-dark bg-Purple fixed-top">
        <div class="container">
          <img class="logo" src="/image/SVG/logo.svg" width="50%">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fas fa-home" aria-hidden="true"></i>
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">¿Quienes somos?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">¿Necesitas ayuda?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">¿Alguna duda?</a>
              </li>
            </ul>
           
            <div class="log">
              <a href="">
                <button class="btn btn-success" data-target="#cart"><i class="fas fa-cart-plus" aria-hidden="true"></i></button>
              </a>
              {{#unless user}}
              <a href="/login">
                <button class="btn btn-success" data-toggle="modal" data-target="#acceso"><b> <i class="fas fa-user" aria-hidden="true"></i><br>Inicio de sesión</b></button>
              </a>
              {{else}}
              <a href="/salir">
                <button class="btn btn-success"><b> <i class="fas fa-user" aria-hidden="true"></i><br>Cerrar sesión</b></button>
              </a>
              {{/unless}}
            </div>
          </div>
        </div>

      </nav>
    </nav>
    <div class="container">
      <div class="row">
        {{>img_hola}}
        {{{body}}}
      </div>
    </div>

    
    <br>
    <footer class="py-5 bg-purpel">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <p></p>
            <p class="m-0 text-center text-white">In Look © 2019</p>
            <p>La ropa es como un lienzo para mostrar tu personalidad. Con la impresión textil personalizada de <b>IN LOOK puedes diseñar fácilmente tus propias camisetas o sudaderas</b>: ¡haz realidad tus propias ideas, crea diseños y enorgullécete de tu propio diseño ! Te invitamos a utilizar tus propias fotos con la ayuda de nuestra herramienta de diseño. Dispones de un sinfín de fuentes y plantillas de diseño.</p>
            <br>
            <div class="row">
              <div class="col">
                <a href=""><i class="fab fa-twitter-square fa-3x" aria-hidden="true"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fab fa-facebook-square fa-3x" aria-hidden="true"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <img src="/image/info-envio-satisfaction.png" alt="100% satisfacion" width="20%" style="margin: 5%">
            <br>
            <h5>CAMBIOS Y DEVOLUCIONES SIN PROBLEMAS</h5>

            30 días para efectuar cambios gratuitos o una devolución. ¡Sin preguntas! 

          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <img src="/image/info-envio_time.png" alt="48h" width="20%" style="margin: 5%">
            <br>
            <h5>TU PEDIDO EN TU CASA EN 48H</h5>

            Recíbelo en tan solo 48h con nuestro modo "prioritario" (solo península)

          </div>
        </div>
      </div>

      <!-- /.container -->  
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/ajax.js"></script>
    <script src="/js/imagenes.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  </body>
</html>